/*==================== Tailwind setup ====================*/

@tailwind base;
@tailwind components;
@tailwind utilities;

/*==================== FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap");

/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
section {
  @apply mt-16;
}
html {
  scroll-behavior: smooth;
}

/*==================== tailwind Base change ====================*/
@layer base {
  h1,
  h2,
  h3,
  h4 {
    @apply text-titleColor font-semibold dark:text-darkTitleColor;
  }
  img {
    @apply max-w-full h-auto;
  }

  .container {
    @apply flex  justify-center  items-stretch p-8 p-8 lg:p-20 lg:p-20;
  }
}
a {
  cursor: default;
}

/*==================== tailwind My components ====================*/
@layer components {
  .section__title {
    @apply text-titleColor dark:text-darkTitleColor text-4xl sm:text-6xl font-bold;
  }
  .section__subtitle {
    @apply text-titleColor dark:text-darkTitleColor text-2xl sm:text-3xl font-medium;
  }
  .section__content {
    @apply text-textColor dark:text-darkTextColor text-lg;
  }
}
